@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

:host {
  display: flex;
}

.article-card {
  display: flex;
  flex-direction: column;
  width: 100%;

  .article-card-image {
    position: relative;
    margin-bottom: 15px;

    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 5px;

      @include sm {
        aspect-ratio: 3 / 2;
      }

      @include xs {
        aspect-ratio: 16 / 9;
      }
    }

    .article-card-category {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 12px 18px;
      border-radius: 5px;
      background: #FFFFFF;
      font-size: 11px;
      color: $blue;

      @include lg {
        top: 8px;
        right: 8px;
        padding: 8px 12px;
      }
    }
  }

  .article-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: $blue;
    text-decoration: none;
    margin-bottom: 20px;

    @include lg {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .article-card-text {
    font-size: 14px;
    line-height: 130%;
    color: $dark-text-color;
    margin-bottom: 20px;
    flex-grow: 1;

    @include lg {
      margin-bottom: 15px;
    }
  }

  .article-card-more {
    font-size: 16px;
    color: $blue;
    align-self: flex-start;

    @include lg {
      font-size: 14px;
    }
  }
}
