@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.popup {
  position: relative;

  .popup-close {
    position: absolute;
    top: 32px;
    right: 31px;
    cursor: pointer;
    line-height: 0;
  }

  .popup-content {
    display: flex;
    flex-direction: column;
    padding: 95px 153px 94px 152px;

    .popup-title {
      @include head-lora-36;
      text-align: center;
      margin-bottom: 30px;
      font-size: 38px;
      line-height: 130%;
    }

    .popup-fields {
      display: flex;
      flex-direction: column;

      .popup-field {
        margin-bottom: 5px;

        .input {
          width: 422px;
          font-size: 14px;
        }

        .popup-service {
          color: $blue;
        }
      }

      .popup-button {
        margin-top: 16px;
        width: 422px;
      }

      .popup-error {
        margin-top: 10px;
        font-size: 14px;
        color: $error-color;
      }
    }
  }

  .popup-success {
    align-items: center;
    padding: 163px 142px;

    .popup-success-text {
      font-size: 14px;
      color: $text-color;
      margin-bottom: 40px;
    }

    .popup-success-button {
      padding: 11px 20px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
