<header class="header">
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="/assets/images/logo.svg" alt="АйтиШторм">
    </a>
    <nav class="header-menu">
      <ul>
        <li><a routerLink="/" fragment="services">Услуги</a></li>
        <li><a routerLink="/" fragment="about">О нас</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">Статьи</a></li>
        <li><a routerLink="/" fragment="reviews">Отзывы</a></li>
        <li><a routerLink="/" fragment="contacts">Контакты</a></li>
      </ul>
    </nav>
    <a href="tel:+74993431334" class="header-phone">+7 (499) 343-13-34</a>
    <a routerLink="/login" class="header-login" *ngIf="!isLogged">
      <img src="/assets/images/icons/user.svg" alt="Личный кабинет">
      <span>Войти</span>
    </a>
    <a class="header-login" *ngIf="isLogged" [matMenuTriggerFor]="userMenu">
      <img src="/assets/images/icons/user.svg" alt="Личный кабинет">
      <span>Привет, {{ userName }}!</span>
    </a>
    <mat-menu #userMenu="matMenu" class="user-menu" xPosition="before">
      <button mat-menu-item (click)="logout()">Выйти</button>
    </mat-menu>
  </div>
</header>
