<header class="header">
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="/assets/images/logo.svg" alt="АйтиШторм">
    </a>

    <nav class="header-menu" [class.header-menu-open]="isMenuOpen">
      <ul>
        <li><a routerLink="/" fragment="services" (click)="closeMenu()">Услуги</a></li>
        <li><a routerLink="/" fragment="about" (click)="closeMenu()">О нас</a></li>
        <li><a routerLink="/blog" routerLinkActive="active" (click)="closeMenu()">Статьи</a></li>
        <li><a routerLink="/" fragment="reviews" (click)="closeMenu()">Отзывы</a></li>
        <li><a routerLink="/" fragment="contacts" (click)="closeMenu()">Контакты</a></li>
        <li class="header-menu-phone">
          <a href="tel:+74993431334" (click)="closeMenu()">+7 (499) 343-13-34</a>
        </li>
      </ul>
    </nav>

    <a href="tel:+74993431334" class="header-phone">+7 (499) 343-13-34</a>

    <a routerLink="/login" class="header-login" *ngIf="!isLogged">
      <img src="/assets/images/icons/user.svg" alt="Личный кабинет">
      <span>Войти</span>
    </a>
    <a class="header-login" *ngIf="isLogged" [matMenuTriggerFor]="userMenu">
      <img src="/assets/images/icons/user.svg" alt="Личный кабинет">
      <span>Привет, {{ userName }}!</span>
    </a>
    <mat-menu #userMenu="matMenu" class="user-menu" xPosition="before">
      <button mat-menu-item (click)="logout()">Выйти</button>
    </mat-menu>

    <button class="header-burger" type="button" [class.active]="isMenuOpen" (click)="toggleMenu()"
            aria-label="Меню" [attr.aria-expanded]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
