<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a routerLink="/" class="logo">
        <img src="/assets/images/logo.svg" alt="АйтиШторм">
      </a>
      <nav class="footer-menu">
        <ul>
          <li><a routerLink="/" fragment="services">Услуги</a></li>
          <li><a routerLink="/" fragment="about">О нас</a></li>
          <li><a routerLink="/blog">Статьи</a></li>
          <li><a routerLink="/" fragment="reviews">Отзывы</a></li>
          <li><a routerLink="/" fragment="contacts">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-bottom">
      <div class="footer-block">
        <div class="footer-head">Адрес</div>
        <div class="footer-text">Пресненская наб., 12, Москва,<br>Россия, 123317.</div>
      </div>
      <div class="footer-block">
        <div class="footer-head">Телефон</div>
        <a class="footer-text" href="tel:+74993431334">+7 (499) 343-13-34</a>
        <button class="button footer-button" (click)="openConsultationPopup()">Перезвоните мне</button>
      </div>
      <div class="footer-block">
        <div class="footer-head">E-mail</div>
        <a class="footer-text" href="mailto:info@itstorm.com">info@itstorm.com</a>
      </div>
      <div class="footer-block">
        <div class="footer-head">Мы в социальных сетях:</div>
        <div class="footer-social">
          <a href="https://vk.com" target="_blank">
            <img src="/assets/images/icons/vk.svg" alt="ВКонтакте">
          </a>
          <a href="https://facebook.com" target="_blank">
            <img src="/assets/images/icons/facebook.svg" alt="Facebook">
          </a>
          <a href="https://instagram.com" target="_blank">
            <img src="/assets/images/icons/instagram.svg" alt="Instagram">
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">© 2022. Все права защищены</div>
  </div>
</footer>
