@import "../../../../assets/styles/variables";

footer.footer {
  background: $light-blue;
  padding: 40px 0 54px 0;

  .footer-top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .logo {
      display: block;
      margin-right: 40px;

      img {
        display: block;
        height: 47px;
      }
    }

    .footer-menu ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        list-style: none;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: $dark-text-color;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: 313px 213px 187px 1fr;
    margin-bottom: 6px;

    .footer-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .footer-head {
        font-size: 16px;
        font-weight: 500;
        color: $blue;
        margin-bottom: 10px;
      }

      .footer-text {
        font-size: 16px;
        line-height: 130%;
        color: $dark-text-color;
        text-decoration: none;
      }

      .footer-button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 500;
      }

      .footer-social {
        display: flex;
        align-items: center;

        a {
          margin-right: 12px;

          &:last-child {
            margin-right: 0;
          }

          img {
            display: block;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .footer-copyright {
    font-size: 16px;
    color: $blue;
  }
}
