@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.article {
  padding: 80px 0 120px 0;

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: $blue;
    margin-bottom: 60px;

    a {
      color: $light-blue;
      text-decoration: none;
      font-weight: 400;
    }

    span {
      margin-left: 8px;

      &.breadcrumbs-current {
        margin-left: 8px;
      }
    }
  }

  .article-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 60px;

    .article-head-content {
      width: 607px;

      .article-title {
        @include head-lora-36;
        font-size: 38px;
        margin: 0 0 40px 0;
        line-height: 130%;
      }

      .article-description {
        font-size: 20px;
        line-height: 130%;
        color: $blue;
      }
    }

    .article-image img {
      display: block;
      width: 527px;
      border-radius: 5px;
    }
  }

  .article-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .article-main {
      width: 818px;

      .article-text {
        font-size: 14px;
        line-height: 130%;
        color: $dark-text-color;

        ::ng-deep {
          h1 {
            font-weight: 500;
            font-size: 26px;
            color: $blue;
            margin: 40px 0 20px 0;
          }

          h3 {
            font-weight: 500;
            font-size: 20px;
            color: $blue;
            margin: 40px 0 20px 0;
          }

          p {
            margin: 0 0 20px 0;
          }

          ul, ol {
            margin: 0 0 20px 0;
            padding-left: 22px;
          }

          b, strong {
            font-weight: 500;
          }
        }
      }

      .article-share {
        display: flex;
        align-items: center;
        margin-top: 60px;

        span {
          font-size: 14px;
          font-weight: 500;
          color: $blue;
          margin-right: 20px;
        }

        a {
          margin-right: 13px;
          line-height: 0;

          &:last-child {
            margin-right: 0;
          }

          img {
            display: block;
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .article-related {
      width: 291px;
      flex-shrink: 0;

      .article-related-title {
        @include head-lora-36;
        font-size: 26px;
        margin-bottom: 20px;
      }

      app-article-card {
        display: block;
        margin-bottom: 60px;

        ::ng-deep .article-card-text {
          margin-bottom: 38px;
        }
      }
    }
  }

  .comments {
    margin-top: 120px;

    &.comments-guest {
      margin-top: 60px;

      .comments-title {
        margin-bottom: 20px;
      }
    }

    &.comments-empty-state .comments-title {
      margin-bottom: 20px;
    }

    .comments-title {
      @include head-lora-36;
      font-size: 38px;
      margin: 0 0 40px 0;
    }

    .comments-notice {
      font-size: 14px;
      color: $dark-text-color;
      margin-bottom: 60px;

      a {
        color: $blue;
      }
    }

    .comments-empty {
      font-size: 14px;
      color: $dark-text-color;
      margin-bottom: 40px;
    }

    .comment {
      margin-bottom: 40px;
      width: 854px;

      .comment-head {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .comment-avatar {
          display: block;
          width: 60px;
          height: 60px;
          margin-right: 26px;
        }

        .comment-info {
          .comment-name {
            font-size: 18px;
            font-weight: 600;
            color: $blue;
            margin-bottom: 10px;
          }

          .comment-date {
            font-size: 14px;
            font-weight: 600;
            color: #BEBEBE;
          }
        }
      }

      .comment-text {
        font-size: 14px;
        line-height: 140%;
        color: $dark-text-color;
      }

      .comment-actions {
        display: flex;
        align-items: center;
        margin-top: 39px;

        .comment-action {
          display: flex;
          align-items: center;
          margin-right: 15px;
          cursor: pointer;

          span {
            font-size: 14px;
            font-weight: 600;
            color: $dark-text-color;
            margin-right: 3px;
          }

          img {
            display: block;
            width: 24px;
            height: 24px;
          }

          &.comment-violate {
            margin-right: 0;
          }
        }
      }
    }

    .comments-loader {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      img {
        display: block;
        width: 40px;
        height: 40px;
        animation: rotate 1s linear infinite;
      }
    }

    .comments-more {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      color: $blue;

      img {
        display: block;
        margin-left: 10px;
        transform: rotate(180deg);
      }
    }

    .comment-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 60px;

      .comment-form-field {
        box-sizing: border-box;
        width: 818px;
        height: 248px;
        padding: 20px;
        margin-bottom: 20px;
        resize: none;
        border: 2px solid $blue;
        border-radius: 3px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $dark-text-color;

        &::placeholder {
          color: #A8ABA7;
        }

        &:focus {
          outline: none;
        }
      }

      .comment-form-button {
        padding: 15px 92px;
        font-size: 16px;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
