html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: $dark-text-color;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 1px solid $blue;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $dark-text-color;

  &::placeholder {
    color: #8B8B8B;
  }
}

.button {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background: $blue;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $dark-text-color;
  }
}

.checkbox {
  display: flex;
  align-items: flex-start;

  input {
    display: none;

    &:checked + label::before {
      border-color: $blue;
    }

    &:checked + label::after {
      opacity: 1;
    }
  }

  label {
    position: relative;
    padding-left: 24px;
    font-size: 14px;
    line-height: 130%;
    color: $dark-text-color;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      width: 14px;
      height: 14px;
      box-sizing: border-box;
      border: 1px solid $dark-text-color;
      border-radius: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 5px;
      width: 6px;
      height: 10px;
      box-sizing: border-box;
      border: solid $blue;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
  }

  a {
    color: $blue;
  }
}

.mat-menu-panel.user-menu {
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  border: 1px solid $blue;
  box-shadow: none;

  .mat-menu-content {
    padding: 0;
  }

  .mat-menu-item {
    height: auto;
    line-height: 1;
    padding: 12px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $dark-text-color;

    &:hover {
      background: $light-blue;
    }
  }
}

.request-popup-panel {
  width: 730px;
  max-width: 100%;

  .mat-dialog-container {
    padding: 0;
    border-radius: 5px;
    border: 1px solid $blue;
    box-shadow: none;
    overflow: hidden;
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(7, 23, 57, 0.4);
}
