<div class="filter" [class.filter-open]="_open" appClickOutside (appClickOutside)="_close()">
  <div class="filter-head" (click)="_toggle()">
    <span>Фильтр</span>
    <img src="/assets/images/icons/chevron-down.svg" alt="">
  </div>
  <div class="filter-body" *ngIf="_open">
    <div class="filter-item"
         *ngFor="let category of _categories"
         [class.active]="_isActive(category.url)"
         (click)="_updateFilterParam(category.url)">
      <span>{{ category.name }}</span>
      <span class="filter-sign">{{ _isActive(category.url) ? '−' : '+' }}</span>
    </div>
  </div>
</div>
